@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
    background-color: black;
}
.contact-top-container{
    height: 20vh;
    background-color: black;
}

.contact-container{
    padding: 0 20% ;
    line-height: 32px;
    margin-bottom: 40px;
}

.contact-container h1{
    font-family: "Montserrat",sans-serif;
    font-size: 55px;
    margin-bottom: 60px;
    color: #cda45e;
}

@media (max-width:550px) {
    .contact-container{
        padding: 20px;
    }
}